.cdetailsbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .buttons{
        display: flex;
        .active{
            border: none;
            background-color: #fff;
            border-top: 2px solid #219ebc ;
            color:#219ebc ;
        }

        button{
            width:10.5em;
            padding:1.5em;
            border:1px solid rgba(128, 128, 128, 0.22);
            background-color: rgba(128, 128, 128, 0.11);
            font-family: 'Trirong', serif;
            &:focus,
            :active{
                border: none;
                background-color: #fff;
                border-top: 2px solid #219ebc ;
                color:#219ebc ;
            }
            &:hover{
                cursor:pointer;
            }
        }
       


    }
}