.Articles {
    display: flex;
    flex-direction: column;
    margin: 10px 15% 20px 15%;
    border: 3px dashed  rgba(124, 187, 227, 0.264);
    padding:10px;

    

    .title {
        display: flex;
        margin-bottom: 20px;
        h2{
            font-size: 30px;

        }
    }.body{
        display: flex;
        text-overflow:break;

        p{
            font-size: 21px;;
        }
    }
}
