.community {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    h3 {
        margin: 20px;
    }

    .enrolled {
        .navlink {
            display: flex;
            margin-left: 20px;
            text-decoration: none;
            color: rgba(61, 61, 188, 0.903);
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 20px 20px 20px;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.99);

        h3 {
            margin: 10px 0 20px 30px;
            font-weight: 600;
            font-size: 2rem;
            display: flex;
        }

        p {
            font-size: 23px;
            margin: 10px 0 20px 30px;
        }

        ul {

            list-style: lower-roman;

            li {
                display: flex;
                margin: 10px 0 10px 30px;
                font-size: 18px;
                list-style: lower-roman;
                span{
                    color:#fb8500 ;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: column;

        .communitycard {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        h3 {
            margin: 10px;
        }
    }
}