.card{
    display: flex;
    margin:10px;
    border: 1px solid #000;
    cursor:pointer;
    flex-direction: column;
    padding:10px;
    .top{
        padding:auto;

    }
    .bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
        .same{
            display: flex;
            justify-content: space-between;
            align-items: center;     
            width:100%;   
        }
    }
}