.card {
    display: flex;
    margin: 20px 10px 20px 13px;
    border: 1px solid rgba(0, 0, 0, 0.293);
    box-shadow: 2px 3px 10px 1px rgba(201, 201, 201, 0.857);
    cursor: pointer;
    flex-direction: column;
    width: fit-content;
    border-radius: 5px;

    &:hover {
        box-shadow: 2px 4px 10px 1px rgb(148, 148, 148);
        transform: translateY(-20px);
        transition: 0.3s ease-in-out;
    }
    .top{
        height: fit-content;
        img {
            border-radius: 3px;
            width: 100%;
            
        }
    }
   

    .bottom {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 2em;
        }

        .add {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 2em;
            span{
                margin: 0 0 0 7px;
            }

            button {
                background-color: rgba(61, 61, 188, 0.903);
                color: rgb(254, 254, 254);
                padding: 8px;
                border: none;
                cursor: pointer;

                &:disabled {
                    cursor: not-allowed;
                    background-color: rgba(61, 61, 188, 0.282);
                }
            }
        }
    }
}