.navbar {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    display: flex;
    height: 80px;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .navbar-logo {
            display: flex;
            margin-left: 20px;
            cursor: pointer;
            font-size: 2.2rem;
            

            .nav-links {
                text-decoration: none;
                color: #000;

                .nav-link {
                    color:#023047;
                    align-items: center;
                }
            }
        }

        .links {
            display: flex;
            margin-left: 50%;
            position:relative;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            .icons{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }

            .account {
                display: flex;
                position:absolute;
                align-items: center;
                flex-direction: column;
                width: max-content;
                background-color: #fff;
                gap: 10px;
                border: 1px solid #000;
                border-radius:5px;
                top: 40px;
                right:15px;
                z-index:999;
                padding:10px;
                cursor: pointer;
                .nav-links{
                    text-decoration: none;
                    width: 100%;
                }

                ul {
                    cursor:pointer;
                    &:hover{
                        background-color: #219ebc;
                        color:#fff;
                    }
                    li {
                        font-size: 16px;
                        height:20px;
                        
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    text-decoration: none;
                    font-size: 21px;

                    .nav-links {
                        text-decoration: none;
                        padding: 0.5rem 1rem;
                        color:#000;
                        position: relative;
                        cursor: pointer;
                        .counter {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            background-color: #219ebc;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            font-size: 10px;
                            font-weight: bold;
                            position: absolute;
                            top: 0px;
                            left: 3px;
                        }
                        
                    }

                    .nav-links:hover,
                    .nav-links:active,
                    .nav-links:focus{
                        color: #219ebc;
                    }
                }
            }
        }
    }
}